<div class="dashboard-container">
  <h1>Validation des Chercheuses STEM</h1>

  <table class="admin-table">
    <thead>
      <tr>
        <th>Nom Complet</th>
        <th>Email</th>
        <th>CIN</th>
        <th>Téléphone</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Nouveau Control Flow d'Angular 21 (@for) -->
      <!--track user.id est très pratique pour la performance:
            "Si la liste change, ne redessine pas tout le tableau, change juste la ligne qui correspond à cet ID"
            -->
      <!--
            Un Signal est une fonction. Pour lire sa valeur, tu dois l'appeler.
            L'avantage : Angular "s'abonne" automatiquement à cet endroit.
            Si tu fais un this.pendingUsers.set(nouvelleListe), le tableau HTML se mettra à jour instantanément
            sans que tu aies besoin de faire quoi que ce soit.
      -->
      @for (user of pendingUsers(); track user.id) {
      <tr>
        <!-- Attention : respecte bien la casse nom / prenom -->
        <td>{{ user.nom }} {{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cin }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.role }}</td>
        <td>
          <div class="action-buttons">
            <button class="btn-approve" (click)="handleApprove(user.id)">Valider</button>
            <button class="btn-reject" (click)="handleReject(user.id)">Refuser</button>
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" class="empty-msg">Aucune demande en attente.</td>
      </tr>
      }
    </tbody>
  </table>
</div>
